<!DOCTYPE html>
<html lang="ru">
<head>
    <title>
        Журнал
    </title>

    <link rel="icon" type="image/x-icon" href="~/image/journal.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="@Url.Content(" ~ /lib/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content(" ~ /lib/select2/css/select2.min.css")">
    <link rel="stylesheet" href="@Url.Content(" ~ /lib/select2/select2-bootstrap-5-theme/select2-bootstrap-5-theme.min.css")">

    <script src='@Url.Content("~/lib/jquery/dist/jquery.min.js")'></script>
    <script src='@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/lib/select2/js/select2.full.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/lib/moment.js/moment-with-locales.min.js")'></script>



    <!--<script src='@Url.Content("~/lib/popper/umd/popper.min.js")'></script>
    <script src='@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.js")'></script>-->

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
            background-color: #212529 !important;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 100%
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark ">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/">
                    <img src="@Url.Content(" ~ /image/journal.png")" height="40" width="40" alt="fail">
                    Журнал
                </a>
                <div class="dropdown dropstart d-flex">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item position-relative" href="~/Student/">
                                <img src="@Url.Content(" ~ /image/student.png")" height="30" width="30" alt="fail">
                                Ученики
                                <span class="position-absolute top-4 start-90 translate-middle badge rounded-pill bg-success" id="student_count">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item position-relative" href="/">
                                <img src="@Url.Content(" ~ /image/subject.png")" height="30" width="30" alt="fail">
                                Предметы
                                <span class="position-absolute top-4 start-90 translate-middle badge rounded-pill bg-success" id="subject_count">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" id="button_schedule" data-bs-toggle="modal" data-bs-target="#lessons_schedule">
                                <img src="@Url.Content(" ~ /image/planned.png")" height="30" width="30" alt="fail">
                                План занятий
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2" id="left_content">
            </div>


            <div class="col-sm-8 text-center ">
                <!--@RenderBody()-->


            </div>


            <div class="col-sm-2" id="right_content">
            </div>
        </div>
    </div>
    <!--@RenderSection("Scripts", required: false)-->


    <script src='@Url.Content("~/js/Common/Counts.js")'></script>
    <script src='@Url.Content("~/js/Common/Schedule.js")'></script>


    <div class="modal fade " id="lessons_schedule">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <strong class="modal-title text-light">Расписание</strong>
                </div>
                <div class="modal-body">
                    <div id="schedule"></div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>